html,
body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  padding: 40px;
}

.container h1 {
  margin: 0;
  font-size: 48px;
}

/* Wrapper which will hold both layers: IMG & SVG */
/* This wrapper will define the size of the box */
.wrapper {
  flex: 1;
  width: 80%;
  height: 80%;

  overflow: hidden;

  position: relative;
}

/* Each layer set as absolute and on top of each other */
.img-wrapper,
.svg-wrapper {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

.img-wrapper > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.svg-wrapper > svg {
  width: 100%;
  height: 100%;
}

/* Zone styling */
.zone {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.zone.full {
  color: rgba(218, 65, 103, 0.65);
}
.zone.full:hover {
  color: rgba(218, 65, 103, 0.75);
}

.zone.warning {
  color: rgba(244, 172, 169, 0.65);
}
.zone.warning:hover {
  color: rgba(244, 172, 169, 0.75);
}

.zone.all-good {
  color: rgba(156, 252, 151, 0.65);
}
.zone.all-good:hover {
  color: rgba(156, 252, 151, 0.75);
}

/* Tooltips */
#zone-tooltip {
  opacity: 0;
  visibility: hidden;

  padding: 20px;

  position: absolute;
  transform: translate(35%, -50%);

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

  transition: 0.2s ease-in-out;

  z-index: 9999;
}

#zone-tooltip h4 {
  min-width: 150px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;

  margin: 20px 0 0 0;
}

#zone-tooltip label {
  font-weight: 700;
  display: block;
}

#zone-tooltip.active {
  opacity: 1;
  visibility: visible;
}
