html,
body {
  margin: 0;
}

.platform-size {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px;

  background-color: #fff;
  z-index: 9999;

  transform: translateX(-50%);
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  background-color: #fff;
  z-index: 9999;
}